html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #736A00;
  font-weight: 400;
  padding: 0px;
  background-color: #FCF3EB;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}