nav {
    height: 65px;
    width: 100vw;
    z-index: 1000;
    position: fixed;
    border-bottom: 3px solid white;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    transition: border-color .3s;
}

#nav.nav-green {
    border-bottom: 3px solid #736A00;
    background-color: #FCF3EB;
}
#nav.nav-green-desktop {
    border-bottom: 3px solid #736A00;
}

.svg-logo {
    fill:#fff;
    transition: fill .3s;
}

.svg-logo-green {
    fill:#736A00;
}

nav img {
    max-height: 100%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}