html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #736A00;
    font-weight: 400;
    padding: 0px;
    background-color: #FCF3EB;
}

* {
    box-sizing: border-box;
}

nav {
    height: 65px;
    width: 100vw;
    z-index: 1000;
    position: fixed;
    border-bottom: 3px solid white;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    transition: border-color .3s;
}

#nav.nav-green {
    border-bottom: 3px solid #736A00;
    background-color: #FCF3EB;
}

#nav.nav-green-desktop {
    border-bottom: 3px solid #736A00;
}

.svg-logo {
    fill:#fff;
    transition: fill .3s;
}

.svg-logo-green {
    fill:#736A00;
}

nav img {
    max-height: 100%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin-bottom: 0.3em;
}

h1,
.h1 {
    font-family: 'VT323', monospace;
    font-size: 60px;
    text-transform: uppercase;
    color: #FC8455;
}

h2,
.h2 {
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #5C7CD4;
}

h3,
.h3 {
    font-size: 23px;
}

h4,
.h4 {
    font-size: 20px;
}

h5,
.h5 {
    font-size: 18px;
}

h6,
.h6 {
    font-size: 16px;
}

p {
    font-size: 18px;
}


/* COLORES */
.color-naranja {
    color: #FC8455;
}
.bg-color-naranja {
    background-color: #FC8455;
}

.color-azul {
    color: #5C7CD4;
}
.bg-color-azul {
    background-color: #5C7CD4;
}

.color-verde-claro {
    color: #C4DCAC;
}
.bg-color-verde-claro {
    background-color: #C4DCAC;
}

.color-verde-oscuro {
    color: #736A00;
}
.bg-color-verde-oscuro {
    background-color: #736A00;
}


a {
    color: #FC8455;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

a:visited {
    color: #7A731C;
}

a:hover {
    text-decoration-thickness: 4px;
}

.links-rrss, .links-rrss a{
    list-style-type: none;
    padding: 0;
    color: #5C7CD4;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    transition: color .8s;
}

.links-rrss a:hover {
    color:#7A731D;
}

button,
.button-link {
    display: inline-block;
    padding: 0 45px;
    background-color: #5C7CD4;
    text-decoration: none;
    color: white;
    border: 2px solid #3A3A3A;
    border-radius: 25px;
    line-height: 2;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
}

.button-link:visited {
    color: white;
}

button:hover,
.button-link:hover {
  background-color: #6BAEFF;
}

.button-secundario {
    background-color: transparent;
    color: #736A00;
    border: 2px solid #736A00;
}

.button-secundario:hover {
    background-color: #C4DCAC;
    color: #3A3A3A;
}

.button-terciario {
    background-color: transparent;
    color: white;
    border: 3px solid white;
}

/* FORMULARIO */
.formulario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 12px;
    height: 300px;
}

input[type="text"], input[type="email"], textarea {
    background-color: transparent;
    color: #7A731C;
    border-style: solid;
    border-color: #7A731D;
    border-width: 2px;
    border-radius: 25px;
    padding: 10px 13px;
    align-self: stretch;
}

input[type="text"]:focus, input[type="email"]:focus {
    border-color: #5C7CD4;
}

textarea {
    display: flex;
    align-self: stretch;
    flex-grow: 1;
}

.button-formulario {
    width: 50%;
    margin-right: 0;
    margin-left:auto;
}


/* PROPIO ESTILO, SOLO PARA ESTA PÁGINA */

.landing {
    background-color: #FCF3EB;
    background-image: url("../images/cielo-azul.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    color: white;
    font-weight: 400;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 21px;
    padding: 0 25px;
    isolation: isolate;
    text-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
}

.landing p {
    max-width: 400px;
}
.seccion-botones {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    padding: 0 30px;
}

.contenido {
    margin: 0 0 50px;
}

.article-de-contenido {
    margin: 0 5% 0;
    padding-top: 20px;
}

#que-hago {
    margin: 0;
}

.titulo-que-hago {
    margin: 0 5% 0;
}

.contenedor-objetos-que-hago {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 35px;
    margin-top: 20px;
}

.contenedor-objetos-que-hago article:first-child {
    margin-left: 5%;
}
.contenedor-objetos-que-hago article:last-child {
    margin-right: 5%;
}

.objeto-que-hago {
    flex: 0 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.objeto-que-hago p {
    flex: 1;
} 
  
img {
    width: 100%;
    height: auto;
    border-radius: 34px;
}

video {
    width: 100%;
    height: auto;
    border-radius: 34px;
}

img[src="images/seccion-quien-soy-foto-personal.jpg"] {
    max-width: 850px;
    max-height: 570px;
    object-fit: cover;
}

img[src="images/carugui-logo-blanco.png"] {
    border-radius: 0;
    border-color: #FC8455;
    max-width: 800px;
}

img[src="images/carita-sonriente.png"] {
    border-radius: 0;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}



/* BOTÓN PARA SUBIR / IR A INICIO */
#button-inicio {
    border-style: solid;
    border-width: 2px;
    border-radius: 100%;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #FCF3EB;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    cursor: pointer;
}

#button-inicio.show {
    opacity: 1;
    visibility: visible;
}


@media screen and (min-width: 900px) {

    /* PROPIEDADES SCROLLBAR */
    ::-webkit-scrollbar {
        height: 20px;
    }   
    ::-webkit-scrollbar-track {
        background-color: #5C7CD4;

    }
    ::-webkit-scrollbar-thumb {
        background-color: #FCF3EB;
        border-radius: 100px;
        border: 2px solid #736A00;
    }

    .landing {
        height: calc(100vh - 20px);
    }

    main {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
      
    section {
        flex: 0 0 auto;
    }

    .article-de-contenido, .titulo-que-hago, .contenedor-objetos-que-hago article:first-child, .contenedor-objetos-que-hago article:last-child {
        margin: 0;
    }

    .article-de-contenido {
        padding-top: 0;
    }

    .seccion-botones {
        flex-direction: row;
        justify-content: center;
    }

    .contenido {
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 120px;
        z-index: 800;
        background-color: #FCF3EB;
        padding: 0 120px;;
    }

    .article-quien-soy {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 100px;
        text-align: right;
    }

    .article-que-hago {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 100px;
        text-align: right;
    }

    .contenedor-objetos-que-hago {
        gap: 50px;
        text-align: left;
        margin-top: 0;
    }
    
        .objeto-que-hago {
            width: 400px;
        }


    .article-contactame {
        width: 40vw;
        padding-left: 68px;
    }
    
    .div-min-width {
        min-width: 320px;
        max-width: 360px;
    }

    img[src="images/seccion-quien-soy-foto-personal.jpg"] {
        max-width: 490px;
    }

    img[src="images/carita-sonriente.png"] {
        margin-right: 0;
    }
}

@media (max-height: 600px) and (min-width: 900px) {
    .inputs {
        height: 190px;
    }
}


/* ANIMACIÓN PÁJAROS */
.bird{
    background-image: url("../svg/bird-cells-new.svg");
    background-size: auto 100%;
    width: 88px;
    height: 125px;
    will-change: background-position;
    -webkit-animation-name: fly-cycle;
        animation-name: fly-cycle;
    -webkit-animation-timing-function: steps(10);
        animation-timing-function: steps(10);
    -webkit-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
}

.bird--one{
    -webkit-animation-duration: 1s;
        animation-duration: 1s;
    -webkit-animation-delay: -0.5s;
        animation-delay: -0.5s;
}

.bird--two{
    -webkit-animation-duration: 0.9s;
        animation-duration: 0.9s;
    -webkit-animation-delay: -0.75s;
        animation-delay: -0.75s;
}

.bird--three{
    -webkit-animation-duration: 1.25s;
        animation-duration: 1.25s;
    -webkit-animation-delay: -0.25s;
        animation-delay: -0.25s;
}

.bird--four{
    -webkit-animation-duration: 1.1s;
        animation-duration: 1.1s;
    -webkit-animation-delay: -0.5s;
        animation-delay: -0.5s;
}

.bird-container{
    position: absolute;
    z-index: 600;
    top: 30%;
    left: -10%;
    transform: scale(0) translateX(-10vw);
    will-change: transform;
    -webkit-animation-name: fly-right-one;
        animation-name: fly-right-one;
    -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
}

.bird-container--one{
    -webkit-animation-duration: 15s;
        animation-duration: 15s;
    -webkit-animation-delay: 0;
        animation-delay: 0;
}

.bird-container--two{
    -webkit-animation-duration: 16s;
        animation-duration: 16s;
    -webkit-animation-delay: 1s;
        animation-delay: 1s;
}

.bird-container--three{
    -webkit-animation-duration: 14.6s;
        animation-duration: 14.6s;
    -webkit-animation-delay: 11s;
        animation-delay: 11s;
}

.bird-container--four{
    -webkit-animation-duration: 16s;
        animation-duration: 16s;
    -webkit-animation-delay: 16s;
        animation-delay: 16s;
}

@-webkit-keyframes fly-cycle{
    100%{
        background-position: -900px 0;
    }
}

@keyframes fly-cycle{
    100%{
        background-position: -900px 0;
    }
}

@-webkit-keyframes fly-right-one{
    0%{
        transform: scale(0.3) translateX(-10vw);
    }
    15%{
        transform: translateY(2vh) translateX(10vw) scale(0.4);
    }
    30%{
        transform: translateY(0vh) translateX(30vw) scale(0.5);
    }
    45%{
        transform: translateY(4vh) translateX(50vw) scale(0.6);
    }
    70%{
        transform: translateY(2vh) translateX(70vw) scale(0.6);
    }
    95%{
        transform: translateY(0vh) translateX(95vw) scale(0.6);
    }
   
    100%{
        transform: translateY(0vh) translateX(104vw) scale(0.6);
    }
}

@keyframes fly-right-one{
    0%{
        transform: scale(0.3) translateX(-10vw);
    }
    15%{
        transform: translateY(2vh) translateX(10vw) scale(0.4);
    }
    30%{
        transform: translateY(0vh) translateX(30vw) scale(0.5);
    }
    45%{
        transform: translateY(4vh) translateX(50vw) scale(0.6);
    }
    70%{
        transform: translateY(2vh) translateX(70vw) scale(0.6);
    }
    95%{
        transform: translateY(0vh) translateX(95vw) scale(0.6);
    }
   
    100%{
        transform: translateY(0vh) translateX(104vw) scale(0.6);
    }
}

@-webkit-keyframes fly-right-two{
    0%{
        transform: translateY(-2vh) translateX(-10vw) scale(0.5);
    }
    15%{
        transform: translateY(0vh) translateX(10vw) scale(0.4);
    }
    30%{
        transform: translateY(-4vh) translateX(30vw) scale(0.6);
    }
    45%{
        transform: translateY(1vh) translateX(50vw) scale(0.45);
    }
    65%{
        transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
    }
    90%{
        transform: translateY(0vh) translateX(95vw) scale(0.45);
    }
    
    100%{
        transform: translateY(0vh) translateX(104vw) scale(0.45);
    }
}

@keyframes fly-right-two{
    0%{
        transform: translateY(-2vh) translateX(-10vw) scale(0.5);
    }
    15%{
        transform: translateY(0vh) translateX(10vw) scale(0.4);
    }
    30%{
        transform: translateY(-4vh) translateX(30vw) scale(0.6);
    }
    45%{
        transform: translateY(1vh) translateX(50vw) scale(0.45);
    }
    65%{
        transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
    }
    90%{
        transform: translateY(0vh) translateX(95vw) scale(0.45);
    }

    100%{
        transform: translateY(0vh) translateX(104vw) scale(0.45);
    }
}
