html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: var(--color-green);
    font-weight: 400;
    padding: 0px;
    background-color: var(--background-color);
}

* {
    box-sizing: border-box;
}