html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: var(--color-green);
    font-weight: 400;
    padding: 0px;
    background-color: var(--background-color);
}

* {
    box-sizing: border-box;
}

.contenido {
    margin: 0 0 50px;
}

.article-de-contenido {
    margin: 0 5% 0;
    padding-top: 20px;
}

#que-hago {
    margin: 0;
}

.titulo-que-hago {
    margin: 0 5% 0;
}

.contenedor-objetos-que-hago {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 35px;
    margin-top: 20px;
}

.contenedor-objetos-que-hago article:first-child {
    margin-left: 5%;
}
.contenedor-objetos-que-hago article:last-child {
    margin-right: 5%;
}

.objeto-que-hago {
    flex: 0 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.objeto-que-hago p {
    flex: 1;
}


@media screen and (min-width: $bp-desktop) {

    /* PROPIEDADES SCROLLBAR */
    ::-webkit-scrollbar {
        height: 20px;
    }   
    ::-webkit-scrollbar-track {
        background-color: var(--color-blue);

    }
    ::-webkit-scrollbar-thumb {
        background-color: var(--background-color);
        border-radius: 100px;
        border: 2px solid var(--color-green);
    }


    main {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
      
    section {
        flex: 0 0 auto;
    }

    .article-de-contenido, .titulo-que-hago, .contenedor-objetos-que-hago article:first-child, .contenedor-objetos-que-hago article:last-child {
        margin: 0;
    }

    .article-de-contenido {
        padding-top: 0;
    }

    .contenido {
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 120px;
        z-index: 800;
        background-color: #FCF3EB;
        padding: 0 120px;;
    }

    .article-quien-soy {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 100px;
        text-align: right;
    }

    .article-que-hago {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 100px;
        text-align: right;
    }

    .contenedor-objetos-que-hago {
        gap: 50px;
        text-align: left;
        margin-top: 0;
    }
    
        .objeto-que-hago {
            width: 400px;
        }


    .article-contactame {
        width: 40vw;
        padding-left: 68px;
    }
    
    .div-min-width {
        min-width: 320px;
        max-width: 360px;
    }
}